{namespace cal=Tx_CzSimpleCal_ViewHelpers}
<f:if condition="{event.isRecurrant}">
	<f:if condition="{cal:condition.compare(value1:event.recurranceType, value2:'daily', operation:'=')}">
		The event takes place daily<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
	</f:if>
	<f:if condition="{cal:condition.compare(value1:event.recurranceType, value2:'weekly', operation:'=')}">
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'weekly', operation:'=')}">
			This event takes place every week<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'oddeven', operation:'=')}">
			<f:if condition="{cal:format.dateTime(timestamp:event.dateTimeObjectStart, format:'%W')} % 2">
				<f:then>
					This event takes place every odd week<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
				</f:then>
				<f:else>
					This event takes place every even week<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
				</f:else>
			</f:if>
		</f:if>
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'2week', operation:'=')}">
			This event takes place every second week<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'3week', operation:'=')}">
			This event takes place every third week<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'4week', operation:'=')}">
			This event takes place every fourth week<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
	</f:if>
	<f:if condition="{cal:condition.compare(value1:event.recurranceType, value2:'monthly', operation:'=')}">
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'auto', operation:'=')}">
			This event takes place monthly<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'bydayofmonth', operation:'=')}">
			This event takes place on <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="%d" />th of each month<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'firstweekdayofmonth', operation:'=')}">
			This event takes place on the first <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="%A" /> of each month<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'secondweekdayofmonth', operation:'=')}">
			This event takes place on the second <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="%A" /> of each month<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'thirdweekdayofmonth', operation:'=')}">
			This event takes place on the third <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="%A" /> of each month<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'lastweekdayofmonth', operation:'=')}">
			This event takes place on the last <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="%A" /> of each month<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
		<f:if condition="{cal:condition.compare(value1:event.recurranceSubtype, value2:'penultimateweekdayofmonth', operation:'=')}">
			This event takes place on the penultimate <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="%A" /> of each month<f:if condition="{event.recurranceUntil}"> until <cal:format.dateTime timestamp="{event.dateTimeObjectStart}" format="{f:translate(key: 'format.show.dayTime')}" /></f:if>.
		</f:if>
	</f:if>
</f:if>