{namespace cal=Tx_CzSimpleCal_ViewHelpers}
<cal:useMicroformat format="hcalendar" />
<cal:setGlobalData field="title"><f:translate key="events" /> <cal:format.timespanToWords start="{start}" end="{end}" /></cal:setGlobalData>
<h2><f:translate key="events" /> <cal:format.timespanToWords start="{start}" end="{end}" /></h2>
<div class="vcalendar vcalendar-day">
<f:if condition="{events}">
	<f:then>
		<cal:variable.init>
			<f:for each="{events}" as="event">
				<cal:calendar.onNewDay event="{event}">
					<f:render partial="EventIndex/dayWrapper.html" arguments="{event: event, settings:settings}" />
				</cal:calendar.onNewDay>
				
				<f:render partial="EventIndex/event-for-list.html" arguments="{event: event, settings:settings}" />
			</f:for>
		
		</cal:variable.init>
	</f:then>
	<f:else>
		<p><f:translate key="msg.noEvents" /></p>
	</f:else>
</f:if>
</div>