{namespace cal=Tx_CzSimpleCal_ViewHelpers}
<cal:useMicroformat format="hcalendar" />
<cal:setGlobalData field="title"><f:translate key="events" /> <cal:format.timespanToWords start="{start}" end="{end}" /></cal:setGlobalData>
<h2><f:translate key="events" /> <cal:format.timespanToWords start="{start}" end="{end}" />
</h2>
<div class="clear-both">
<f:alias map="{minDate: '{cal:calendar.createDateTime(dateTime: \'now - 2 month\')}', maxDate: '{cal:calendar.createDateTime(dateTime: \'now +1 year\')}'}">
	<f:if condition="{cal:condition.compare(value1: start, value2: minDate, operation:'&gt;')}">
		<div class="float-left">
			<f:link.action arguments="{getDate: '{cal:format.dateTime(format: \'%Y-%m-%d\', timestamp: start, get: \'-1 week\')}'}"><f:translate key="previousWeek" /></f:link.action>
		</div>
	</f:if>
	<f:if condition="{cal:condition.compare(value1: end, value2: maxDate, operation:'&lt;')}">
		<div class="float-right">
			<f:link.action arguments="{getDate: '{cal:format.dateTime(format: \'%Y-%m-%d\', timestamp: start, get: \'+1 week\')}'}"><f:translate key="nextWeek" /></f:link.action>
		</div>
	</f:if>
</f:alias>
</div>
<div class="vcalendar vcalendar-list">
<f:if condition="{events}">
	<f:then>
		<f:for each="{events}" as="event">
			<cal:calendar.onNewDay event="{event}">
				<f:render partial="EventIndex/dayWrapper.html" arguments="{event: event, settings:settings}" />
			</cal:calendar.onNewDay>
			
			<f:render partial="EventIndex/event-for-list.html" arguments="{event: event, settings:settings}" />
		</f:for>
	</f:then>
	<f:else>
		<p><f:translate key="msg.noEvents" /></p>
	</f:else>
</f:if>
</div>