{namespace cal=Tx_CzSimpleCal_ViewHelpers}
<cal:useMicroformat format="hcalendar" />
<h2>Week View</h2>
<div class="vcalendar vcalendar-list">
<f:if condition="{events}">
	<f:then>
		<f:for each="{events}" as="event">
			<cal:calendar.onNewDay event="{event}">
				<h4 class="underline"><cal:format.dateTime format="%a, %e. %B %G" timestamp="{event.start}"/></h4>
			</cal:calendar.onNewDay>
			
			<f:render partial="EventIndex/event-for-list.html" arguments="{event: event, settings:settings}"></f:render>
		</f:for>
	</f:then>
	<f:else>
		<p>No events have been found.</p>
	</f:else>
</f:if>
</div>