{namespace cal=Tx_CzSimpleCal_ViewHelpers}
<f:if condition="{event.hasEndTime}">
	<span class="dtend" title="{cal:format.dateTime (format: '%Y-%m-%dT%H:%M%z', timestamp: event.end)}"><f:translate key="time.end" />
	<f:if condition="{event.isAlldayEvent}">
		<f:then>
			<f:then><cal:format.dateTime format="{f:translate(key: 'format.show.allday')}" timestamp="{event.end}"/></f:then>
		</f:then>
		<f:else>
			<f:if condition="{event.isOneDayEvent}">
				<f:then><cal:format.dateTime format="{f:translate(key: 'format.show.time')}" timestamp="{event.end}"/></f:then>
				<f:else><cal:format.dateTime format="{f:translate(key: 'format.show.dayTime')}" timestamp="{event.end}"/></f:else>
			</f:if>
		</f:else>
	</f:if>
	</span>
</f:if>