{namespace cal=Tx_CzSimpleCal_ViewHelpers}
<div class="vevent" id="{event.hash}">
	<f:if condition="{event.isAlldayEvent}"><f:then></f:then>
	<f:else>
		<div class="dtstart" title="{cal:format.dateTime(format: '%Y-%m-%dT%H:%M%z', timestamp: event.start)}">
			<cal:format.dateTime format="%H:%M" timestamp="{event.start}"/>
		</div>
	</f:else>
	</f:if>
	<h5 class="summary"><f:if condition="{event.showPageInstead}">
		<f:then><f:link.page pageUid="{event.showPageInstead}">{event.title}</f:link.page></f:then>
		<f:else><cal:link.action action="show" arguments="{event: event}" class="url">{event.title}</cal:link.action></f:else>
	</f:if></h5>
	<f:if condition="{event.teaser}" >
	<f:then>
		<div class="description">{event.teaser}</div>
	</f:then>
	<f:else><f:if condition="{event.description}">
		<div class="description"><f:format.html>{event.description}</f:format.html></div>
		</f:if>
	</f:else>
	</f:if>
</div>