{namespace cal=Tx_CzSimpleCal_ViewHelpers}
<f:if condition="{cal:condition.oneNotEmpty(values: {0: address.email, 1: address.phone, 2:address.fax, 3:address.mobile, 4: address.www})}">
<p>
<f:if condition="{address.phone}"><span class="tel"><abbr class="type" title="voice"><f:translate key="phone" /></abbr>: <span class="value">{address.phone}</span></span><br/></f:if>
<f:if condition="{address.mobile}"><span class="tel"><abbr class="type" title="cell"><f:translate key="mobile" /></abbr>: <span class="value">{address.mobile}</span></span><br/></f:if>
<f:if condition="{address.fax}"><span class="tel"><abbr class="type" title="fax"><f:translate key="fax" /></abbr>: <span class="value">{address.fax}</span></span><br/></f:if>
<f:if condition="{address.email}"><f:translate key="email" />: <f:link.email email="{address.email}" /><br/></f:if>
<f:if condition="{address.www}"><f:translate key="www" />: <f:link.external class="www" uri="{address.www}">{address.www}</f:link.external></f:if>
</p>
</f:if>