{namespace cal=Tx_CzSimpleCal_ViewHelpers}

<td class="{cal:array.join(items:{0:'cal-minimonth-day', 1:'{f:if(condition: \'{cal:format.dateTime(timestamp: day.date, format:\\\'%Y%m\\\')} == {monthNumber}\', else:\'cal-minimonth-dayoff\')}'}, by:' ')}">
<f:alias map="{title:'{f:translate(key:\'numEvents\')->cal:format.NumberChoice(number:day.count, arguments:{number: day.count})}'}">

<f:if condition="{day.count}">
	<f:then>
		<f:link.action action="day" title="{title}" arguments="{getDate:'{cal:format.dateTime(timestamp: day.date)}'}"><cal:format.dateTime timestamp="{day.date}" format="%d" /></f:link.action>
	</f:then>
	<f:else>
		<span title="{title}"><cal:format.dateTime timestamp="{day.date}" format="%d" /></span>
	</f:else>
</f:if>
</f:alias>
</td>